$font-size-base:          36px; //视觉稿设计除以200
$font-family-serif:       "Microsoft YaHei", tahoma, arial, "Hiragino Sans GB", "\5b8b\4f53", sans-serif;
$unit-mode:rem;           //rem px or rem;
$padding-margin:2 4 5 8 10 12 15 18 20 25 40;
$icon-path: '';
$primary: #3399FF;
$default: #333;
$info: #999;
$warning: #f6526c;
$dark: #333;
$danger: #D61518;
$white: #fff;
$tip: #CFCFD4;
$line-color: #ececec;
/*
mobile max-width,min-width
*/
$mobile-adjust-max-width: 540px;
$mobile-adjust-min-width: 320px;

